body {
	/*background: radial-gradient(circle, rgba(249,208,255,100) 20%, rgba(176,242,255,100) 35%);*/
	max-width: 90%;
	margin: auto;
	background-image: url(baCO_10.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	font-family: serif;
	letter-spacing: 2px;
	font-size: 100%;
	color: #260640;
}
a:link {
	color: green;
}
a:visited {
	font-size: 120%;
	color: orangered;
}
a:hover {
	letter-spacing: 3px;
	font-size: 120%;
	color: blue;
}
blockquote {
	width: 45%;
	margin: auto;
	font-size: 160%;
	color:  #a0a3ff;
	background-color: lightgrey;
	border: 3px solid firebrick;
	padding: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.quote {
	color:  #a0a3ff;
}
h1 {
 color:  #260640;
}
h2 {
 color:  #260640;
}
caption {
 color:  #260640;
}
h3 {
 color:  #260640;
}
li {
 color:  #260640;
}
figcaption {
 color:  #260640;
}
table {
 color:  #260640;
}

footer {
 color:  #260640;
}
q {
	font-style: italic;
}
.villager::before {
	color: blueviolet;
	border-left: 3px solid blueviolet;
}
.farmer::before {
	color: limegreen;
	border-left: 3px solid limegreen;
}
header:first-child {
	background-color: lightgoldenrodyellow;
}
.good {
	text-transform: capitalize;
	color: limegreen;
}
.bad {
	text-transform: capitalize;
	color: darkred;
}
tr:nth-child(even) {
	background-color: lightgrey;
}
tr:nth-child(odd) {
	background-color: white;
}
li:nth-child(1) {
	margin: 0;
	padding: 15px 0 15px 80px;
	background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/bien.png?token=AUGYG5OWPWW2DXNSIS3RKE3AX53FA);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	list-style-type: none;
	text-indent: -35px;
}
li:nth-child(2) {
	margin: 0;
	padding: 15px 0 15px 80px;
	background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/mal.png?token=AUGYG5PLFMMUVJCHDSBMBALAX53J2);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	list-style-type: none;
	text-indent: -35px;
}
li:nth-child(3) {
	margin: 0;
	padding: 15px 0 15px 80px;
	background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/chat.png?token=AUGYG5OWHU6JFKQZA2CJ5ADAX53LO);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	list-style-type: none;
	text-indent: -35px;
}
li:nth-child(4) {
	margin-left: 30px;
	text-indent: 13px;
}
.life {
	font-weight: bold;
}
div {
	display: inline-block;
}
img {
	float: left;
	padding: 2%;
}
/*figure {
	height: 10%;
	width: 50%;
}
blockquote {
	display: inline-block;
	margin-left: 2%;
}*/
.old {
	width: auto;
}
