body {
	background: radial-gradient(circle, rgba(249,208,255,100) 20%, rgba(176,242,255,100) 35%);
	background-image: url(‪chinese_farmer/photobg.jpg);
	width: 90%;
	margin: auto;
}
p {
	font-family: serif;
	letter-spacing: 2px;
	font-size: 100%;
	color: purple;
}
a:link {
	color: green;
}
a:visited {
	font-size: 120%;
	color: orangered;
}
a:hover {
	letter-spacing: 3px;
	font-size: 120%;
	color: blue;
}
blockquote {
	width: 45%;
	margin: auto;
	font-size: 160%;
	background-color: lightgrey;
	border: 3px solid firebrick;
	padding: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}
